<section class="orgEmp">
    <div class="container">
        <div class="title">
            <h4>Org & Emp</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel-card">
                    <div class="image-panel">
                        <img src="assets/35.png">
                    </div>
                    <div class="panel-body">
                        <h3>Compnay Setup</h3>
                        <hr />
                        <p>COmpany Profile</p>
                    </div>
                </div>
                <!-- <img src="assets/35.png">
                <a href="#"> Company Setup</a> -->
            </div>
            <div class="col-md-4">
                <img src="assets/36.png">
            </div>
            <div class="col-md-4">
                <img src="assets/37.png">
            </div>
        </div>
    </div>
</section>
