<section class="orgEmp">
    <div class="container">
        <div class="title">
            <h4>Org & Emp</h4>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="assets/35.png">
                <a href="#"> Company Setup</a>
            </div>
            <div class="col-4">
                <img src="assets/36.png">
            </div>
            <div class="col-4">
                <img src="assets/37.png">
            </div>
        </div>
    </div>
</section>
